.controlBar{
    font-size:20px;
    margin-top: auto;
    display: block;
}
.full_screen {
  width: 100vw;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
}
.hideMiniPlayer{
  background-color:rgba(0,0,0,0);
  z-index: 0;
  opacity: 0.5;
}
.mirror{
  transform: scaleX(-1);
}
.pinp{
  height:30vh;
  width:40vw;
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 100;
}
.playerOverlay {
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0);
  z-index: 2;
  cursor: pointer;
}	
.showMiniPlayer{
  background-color: black;
  z-index: 20;
  opacity: 0.5;
}

.hideMiniPlayer,
.playerOverlay,
.showMiniPlayer
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
video {
    object-fit: cover;
}
